@layout UnauthenticatedLayout
@page "/iam/lost-pass"
@inject MediatR.IMediator Mediator
@inject IDialogService DialogService
@using vetcms.ClientApplication.Features.IAM.ResetPassword
@using vetcms.SharedModels.Features.IAM
@using vetcms.BrowserPresentation.Utility
@inject IToastService ToastService;
@inject NavigationManager Navigation;

<FluentGrid Justify="JustifyContent.Center">
    <FluentGridItem xs="12" sm="6" md="4" lg="3">
        <FluentCard>

            <FluentGrid Justify="JustifyContent.Center">

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <h3 style="text-align:center">Jelszó visszállítása</h3>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <p style="opacity: 0.8; font-size: smaller; text-align:center">Kérjük, adja meg az e-mail címét, és küldünk egy hivatkozást a jelszó visszaállításához.</p>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField @bind-Value=email Label="Email" TextFieldType="TextFieldType.Email" Placeholder="johndoe01@example.com" Required Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>


                <FluentGridItem xs="12" sm="12" md="6" lg="6" Justify="JustifyContent.Center">
                    <FluentButton @onclick="PasswordReset" Appearance="Appearance.Accent">
                        Küldés
                    </FluentButton>
                </FluentGridItem>

            </FluentGrid>

        </FluentCard>
    </FluentGridItem>
</FluentGrid>

@code {
    string email = string.Empty;

    private async void PasswordReset()
    {
        ResetPasswordClientCommand resetPasswordClientCommand = new ResetPasswordClientCommand(DialogService)
        {
            Email = email
        };
        bool result = await ToastService.ShowIndeterminateProgressToast<bool>(Mediator.Send(resetPasswordClientCommand), "Adatok feldolgozása folyamatban...");
        if (result)
        {
            Navigation.NavigateTo("/iam/pass-reset");
        }
    }

}
 