@layout UnauthenticatedLayout
@page "/iam/login"
@using vetcms.ClientApplication.Features.IAM.LoginUser
@inject NavigationManager Navigation
@inject IToastService ToastService
@inject MediatR.IMediator Mediator
@inject IDialogService DialogService

<FluentGrid  Justify="JustifyContent.Center" >
    <FluentGridItem xs="12" sm="6" md="4" lg="3">
        <FluentCard>

            <FluentGrid Justify="JustifyContent.Center" >

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <h3 style="text-align:center">Bejelentkezés</h3>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField @bind-Value="username" Label="Email" TextFieldType="TextFieldType.Email" Placeholder="johndoe01@example.com" Required Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField @bind-Value=password Label="Jelszó" TextFieldType="@(ShowPassword ? TextFieldType.Text : TextFieldType.Password)" Required Style="width: 100%;">
                        <FluentIcon Value="@ChangeIcon()" @onclick="ToglePasswordVisibility" Color="@Color.Neutral" Slot="end" />
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12" Justify="JustifyContent.Center">
                    <FluentButton @onclick="PasswordResetStart" Appearance="Appearance.Accent">
                        Elfelejtette a jelszavát?
                    </FluentButton>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12" Justify="JustifyContent.Center">
                    <FluentCheckbox Label="Jegyezzen meg">
                    </FluentCheckbox>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="6" lg="6"  Justify="JustifyContent.Center">
                    <FluentButton @onclick="Login" Appearance="Appearance.Accent">
                        Bejelentkezés
                    </FluentButton>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="6" lg="6" Justify="JustifyContent.Center">
                    <FluentButton @onclick="NavigateToRegisterPage" BackgroundColor="#EA4300" Color="#ffffff">
                        Regisztráció
                    </FluentButton>
                </FluentGridItem>



            </FluentGrid>

        </FluentCard>
    </FluentGridItem>
</FluentGrid>


@code {
    private bool ShowPassword = false;
    string username, password;

    [SupplyParameterFromQuery]
    public bool? redirected { get; set; }

    protected override  Task OnInitializedAsync()
    {
        if(redirected.HasValue && redirected.Value)
        {
            ToastService.ShowInfo("Folytatáshoz előbb be kell jelentkeznie.");
        }
        return Task.CompletedTask;
    }

    private void PasswordResetStart()
    {
        Navigation.NavigateTo("/iam/lost-pass");
    }

    private async void Login()
    {
        LoginUserClientCommand userClienCommand = new LoginUserClientCommand(DialogService)
        {
                Username = username,
                Password = password
        };
        await Mediator.Send(userClienCommand);
    }

    private Icon ChangeIcon()
    {
        if (ShowPassword)
        {
            return new Icons.Regular.Size16.EyeOff();
        }
        else
        {
            return new Icons.Regular.Size16.Eye();
        }
    }
    private void NavigateToRegisterPage()
    {
        Navigation.NavigateTo("/iam/register");
    }

    private void ToglePasswordVisibility()
    {
        ShowPassword = !ShowPassword;
    }
}
