@using vetcms.BrowserPresentation.Components

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
             <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <PermissionWrapper RequiredPermissions="[PermissionFlags.CAN_LIST_USERS]">
                <FluentNavLink Href="/iam/user-management" Icon="@(new Icons.Regular.Size20.PersonBoard())" IconColor="Color.Accent">Felhasználók kezelése</FluentNavLink>
             </PermissionWrapper>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
